//https://coolors.co/eae1df-3d405b-d52941-fcd581-e09f3e

$primary: #2b193d;
$secondary: #4b8f8c;
$tertiary: #c5979d;
$body-color: $primary;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 1.6;
$h3-font-size: $font-size-base * 1.4;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$headings-margin-bottom: $spacer;

@import "~bootstrap/scss/bootstrap";

$section-spacing: 25px;

.block-strip {
  border-bottom: 10px solid $secondary;
  border-top: 20px solid $primary;
  height: 31px;
  margin-bottom: 20px;
}

p {
  text-align: justify;
}

.br {
  background: $secondary;
  content: " ";
  display: block;
  height: 2px;
  margin: $section-spacing 0;
}

.profile-pic {
  margin-bottom: 10px;
}

.subtitle-text {
  margin-bottom: 0;
}

.subtitle-base {
  color: $secondary;
  font-size: $h2-font-size;
  line-height: 0.5;
  margin-bottom: $headings-margin-bottom;
  opacity: 0.25;
  text-align: center;

  &::before {
    content: "~";
  }
}

.job-title {
  margin-bottom: 0;
}

.company-logo {
  border: 1px solid rgba($primary, 0.25);
  margin: 8px 0;
  padding: 5px 7px;

  img {
    display: block;
    width: 100%;
  }
}

.experience {
  margin-bottom: $section-spacing;

  &.last {
    margin-bottom: 0;
  }

  .formerly {
    font-size: $small-font-size * 0.9;
  }
}

.tab-details {
  .label {
    font-weight: bold;
    padding-right: 20px;
    vertical-align: top;
  }
}

@include media-breakpoint-up(lg) {
  .profile-pic {
    width: 60%;
  }
}
