/* https://coolors.co/eae1df-3d405b-d52941-fcd581-e09f3e */

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

$primary: #3D405B;
$secondary: #D52941;
$tertiary: #E09F3E;
$body-color: $primary;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 1.6;
$h3-font-size: $font-size-base * 1.4;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$headings-margin-bottom: $spacer;

@import '~bootstrap/scss/bootstrap';

$section-spacing: 25px;

body {
  background: url(images/page-header-xs.png) repeat-x;
  margin-top: 1px;
  padding-top: 50px;
}

p {
  text-align: justify;
}

br {
  background: $secondary;
  content: ' ';
  display: block;
  height: 2px;
  margin: $section-spacing 0;
}

.profile-pic {
  margin-bottom: 10px;
}

.subtitle-text {
  margin-bottom: 0;
}

.subtitle-base {
  color: $secondary;
  font-size: $h2-font-size;
  line-height: 0.5;
  margin-bottom: $headings-margin-bottom;
  opacity: 0.25;
  text-align: center;
}

.subtitle-base::before {
  content: "~";
}

.job-title {
  margin-bottom: 0;
}

.company-logo {
  border: 1px solid rgba($primary, 0.25);
  margin: 8px 0;
  padding: 5px 7px;

  img {
    display: block;
    width: 100%;
  }
}

.experience {
  margin-bottom: $section-spacing;
}

.formerly {
  font-size: $small-font-size * .9;
}
